table{
    border: solid 3px black;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
  }
  
  td{
    vertical-align: middle;
    text-align: center;
    margin: auto;
  }
  
  table td{
    border: solid 1px red;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
  }
  
  
  
  
  