table{
  border: solid 1px black;
  color:black;

}

table td{
  border: solid 1px blue;
  width: 100px;
  height: 100px;
  margin:auto;
  text-align:center;
}

td tr{
  width:100%;
  margin:auto;
  font-size:30px;
}


