table{
  border: solid 1px black;
  color:black;
  margin: auto;
}

table td{
  border: solid 1px rgb(12, 12, 85);
  width: 30px;
  height: 15px;
  margin:auto;
  text-align:center;
}

td tr{
  width:100%;
  margin:auto;
  font-size:30px;
}


